

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style */
.btn-primary{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;
padding: 17px 24px 17px 24px;
font-size: 20px;
font-weight: 600;

}

.btn-saad{
   color: white;
position: static;
width: 208px;
height: 66px;
font-size: 20px;
font-weight: 600;
background: rgb(13, 19, 33);
margin-left: 320px;
margin-top: 100px;
}


/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
    font-weight: 800px;
    font-size: 28px;
}

nav ul li{
 list-style: none;

}

/* Div Style */

.div-bg{
   background-image: url(..//assets/Hero-bg.png);

width: auto;
height: 830px;
left: -2px;
right: 2px;
top: 122px;
bottom: 4471px;
margin: 50px 0px;

opacity: 100%;


}

.group-img{
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 30px;
  
}
.bg-content{
   
position: static;
width: 998px;
height: 310px;


justify-content: center;
align-items: center;
margin-left: 300px;



}

.saad{
    font-size: 18px;
    opacity: 70%;
    margin-top: 50px;
    
    
    
}
.heading-bg{
font-size: 38px;

}
.devop{
    margin-left: 320px;
    line-height: 68px;
}

/* section  */
.why{
padding: 50px 300px;



}
.why-title{
    text-align: center;
    margin-top: 50px;
}
.why-description{
    text-align: center;
    
}

.skill1{
  

width: 850px;
height: 240px;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 30px;

}

.skill2{
 
position: static;
width: 850px;
height: 240px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
}

.skill3{
    width: 850px;
height: 240px;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 30px;
}


/*video edit*/
.ahnaf{
    text-align: center;

}
.ahnaf-description{
    text-align: center;
}
.video{
    margin: 60px 200px;
}
.jhankar-vaiya{
    margin-left: 280px;
    margin-top: 50px;
}

/*Target Edit*/
.target1{
    padding: 60px 200px;
}
.target-heading{
    text-align: center;

}
.target-desc{
    text-align: center;
}
/*frame*/

.frame-container{
    display: flex;
    margin-top: 50px;
}



.footer-row1{
    background-image: url(..//assets/handshake.jpg);
    height: 300px;
    width: 700px;
  
    padding: 60px 300px;
    margin-left: 100px;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 25px;
  
   
}

footer input{
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: white;
    display: block;
    width: 60%;
    margin-top: 50px;
}

footer button{
    color: Black;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    width: 20%;
   
    
   
}
